
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: #000080;
}

h2{
    color: #000080;
}

nav{
    background-color:white;
    text-align: center;
    padding: 10px;
}

nav a:hover{
    color: #6495ED;
}

nav a{
    color: #000080;
    text-decoration:none ;
}

section{
    background-color: #6495ED;
    padding: 20px;
    MARGIN: 20px;
    border-radius:10px;
    border: 2px solid lightblue;

}

section:hover{
    border:2px solid #000080;
}

.cabecalho {
    text-align: center;
    color: #000080;
}

main{
    max-width: 900px;
    margin: auto;
}